.header .container-fluid
{
    margin-left:90px;
    
}
.container-fluid
{
    border-style:solid 1px;
    border-color:#f1f1f1;
   
    height:70px;
    margin-top:-22px;
}
.navbar-nav
{
    margin-left:670px;
    width:100%;
}
.header2 .button
{

   color:#ff4e3e;
   border-color:#ff4864;
   border-radius:5px;
   padding:7px 25px;
}
.header2 .row
{
    margin-left:90px;
    margin-top:220px;
}
.col-lg-6 img
{
    margin-top:-190px;
    width:80%;
    margin-left:10px;
}
.header3 .card
{
     padding-top:15px;
     border-color:#b2b2b2; 
     width:350px;
     height:245px;
    
     
}
.star {
    font-size:x-large;
    width:20px;
    display: inline-block;
    outline-color:#ffd700;
}

.star:last-child {
    margin-right: 0;
}
.star:before {
    content: '\2605';
}
.star.on {
    color:#ffd700;
}
.header4 .card
{
    width:290px;
    height:340px;
    border-color:#b2b2b2;
}
.header4 img
{
    width:260px;
    height:200px;
    margin-left:14px;
    margin-top:14px;
}
.header4 .button
{
    border-color:#ff3838;
    color:#ff4864;
    border-radius:5px;
   padding:7px 25px;
    
}
.header5 .col
{
    width:50px;
    
}
.header5 img
{
    width:60%;
    height:70%;
    border-style: solid;
    border-radius: 50%;
    border-color: #ffffff;
    border-width:8px;
}
.header5 h5
{
    color:#333333;
   
}
.header6 img
{
    width:290px;
    height:190px;
    border-style:solid;
    border-color:#ffffff;
    border-width:10px;
    border-radius:4px;
}
.header7 img
{
    width:38%;
    height:60%;
    border-style: solid;
    border-radius: 50%;
    border-color: #ffffff;
    border-width:8px;
    margin-top:-40px;
    margin-left:80px;
}
.header7 .card
{
    color:#eeeeee;
    background-color: #333333;
    border-style:solid;
    border-color:#ffffff;
    border-width:10px;
    border-radius:4px;  
    height:280px;
}
.header7 .star 
{
    font-size:x-large;
    width:20px;
    display: inline-block;
    outline-color:#ff3838;
}

.header7 .star:last-child 
{
    margin-right: 0;
}
.header7.star:before 
{
    content: '\2605';
}
.header7 .star.on 
{
    color:#ff3838;
}
.header8 img
{
    width:460px;
    height:360px;
    border-radius:4px ;
   
   
}
.input-field
{
    border-color:#b2b2b2;
    border-radius:5px;
}

.temp
{
    background-color: #ffffff;
    margin-left:130px;
    margin-right:125px;
}
.footer h5
{
    display: inline;
    border:1px solid #ff3838;
    color:#bd0600;
    margin:0px 5px;
    padding:8px 20px;
    border-radius:4px;
    
}
.footer .card
{
    background-color:#000000;
    padding-top:30px;
}
body{
    overflow-x:hidden;
}